html,body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.contenedor{
    position: relative;
    height: 55vh;
    overflow:hidden;
    justify-content: center;
}

.espacio{
    height: 30vh;
    background-color: #f4fcfc;
}


.parallax{
    position: absolute;
    background-image: url(media/header_dog.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
   
.title {
        text-align: center;
        font-size: 75px;
        text-shadow: 1px 1px 2px #000 ;
        color: gray;
        background-color: #f4fcfc;
   }
 
   
.titulo-galeria{
    margin-top: 20vh;
    text-shadow: 1px 1px 2px #000 ;
}   

.galeria img{
    box-shadow: 0 8px 10px -4px rgb(0,0,0,0.6);
    border-radius: 10px;
    margin-top: 5px;
    margin: 5px;
}

img:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
    transition: ease-in-out;
}

.redes{
    display: flex;
    justify-content: center;
}

.redes a{
    margin: 8px;
    font-size: 30px;
    color: black;
}

.redes a:hover{
    /* font-size: 50px; */
    transform: scale(1.8);
    transition: ease-in-out;
}


/* Se agregan los cambios para pantallas mobiles */
 
 @media screen and (max-width: 680px){
    .contenedor{
        position: relative;
        height: 75vh;
        overflow:hidden;
        justify-content: center;
    }
    
    .espacio{
        height: 25vh;
        background-color: #f4fcfc;
    }
    
  
.redes a{
    margin: 8px;
    font-size: 50px;
    color: black;
}


.redes a:hover{
    transform: none;
}



 }