html,body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image{
    height: 75vh;
    background: url('media/header_dog.jpg');
    background-size: cover;
    background-position: center;
    padding: 3em;
    display: flex;   
    justify-content: center;
    
}

.hero-title{
 text-align: center;
 
}

.hero-title h1{
    font-size: 52px;
    text-shadow: 1px 1px 2px #000 ;
    color: purple;
}


.hero-title p{
    font-size: 22px;
    text-shadow: 0px 0px 1px #000 ;
    color: purple;
}


.container{
    margin: 5vh;
    display: inline-flex;
}

.card{
   margin: 15vh;
   background:gray;
   border-radius: 2px;
   width: 300px;
   height: 400px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
   background: url('/media/header_dog.jpg');  
   background-size: 100%;
   transform: rotate(45deg);
}

.card-2{
    margin: 5vh;
    background:gray;
    border-radius: 2px;
    width: 300px;
    height: 400px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
    background: url('/media/header_dog.jpg');  
    background-size: 100%;
    transform: rotate(-20deg);
 }











 
 @media  (max-width: 680px){

    .card{
        margin: 5vh;
        background:gray;
        border-radius: 2px;
        width: 150px;
        height: 200px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
        background: url('/media/header_dog.jpg');  
        background-size: 100%;
        transform: rotate(-20deg);
     }

 }